<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!--引入映射文件-->
 <!--   <mappers>
        &lt;!&ndash;扫描使用注解的Mapper类所在的包&ndash;&gt;
        <package name="com.lagou"></package>
    </mappers>-->
    <!--驼峰命名法 及 A_ABC 到 aabc的类似映射-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
</configuration>
